# Operating System Files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/
.pytest_cache/
.mypy_cache/
.pyre_configuration.py
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Build artifacts
dist/
build/
*.egg-info/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*~

data/
